@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom CSS for animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slideInLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes slideInRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
  }
  
  .perspective {
    perspective: 1000px;
  }
  
  .transform-3d {
    transform-style: preserve-3d;
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-out;
  }
  
  .animate-slide-in-left {
    animation: slideInLeft 1s ease-out;
  }
  
  .animate-slide-in-right {
    animation: slideInRight 1s ease-out;
  }
  